#containment-wrapper{
	position:absolute;
	width:2000px;
	height:2000px;
	background-color:#D2F0EC;
}
.avatar{
	width:100px;
}
.wide-avatar{
	width:150px;
}
.avatars{
	position:absolute;
	top:20px;
	left:880px;
	width:400px;
}
.room{
	position:absolute;
	width:700px;
}
.big-room{
	position:absolute;
	width:1000px;
}
.inventory{
	position:absolute;
	width:1000px;
}
.gift{
	position:absolute;
}

.small-item{
	width:50px;
}
.item{
	width:80px;
}
.medium-item{
	width:180px;
}
.big-item{
	width:250px;
}
